# exclude target directories
target
**/target/

dependency-reduced-pom.xml
/lib/j2ee.jar
/lib/navigatorAPI.jar
/lib/icncore.jar

# eclipse project files and directories
.classpath
.project
.settings
.recommenders
.metadata

# exclude IntelliJ IDEA files
.idea
**/*.iml

